body{
    background: #fffefe;
    font-family: Arial;
    margin: 10px;
}
header{
    background-color:#0D47A1;
    color:white;
    text-align: center;
    padding: 15px;
}
nav{
    background: #5a95ec;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
} 
nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
}
main{
    display:flex;
    margin-top: 10px;
}
#conteudo{
    width: 70%;
    margin-right: 10px;
}
.caixa{
    padding: 20px;
}
.imagem{
    background: #3b7ed6;
    color: white;
    height: 160px;
    margin-top: 10px;
}
.noticias{
    background: #297ddd;
    color: white;
    height: 220px;
    margin-top: 10px;
}
.noticias h2{
    text-align: center;
    color: white;
}
#destaque{
    width: 30%;
    color: white;
    background: #da4dc2;
    text-align: center;
    padding-top: 180px;
}
footer{
    background: #000000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
